# Virtual environment
venv/
__pycache__/

# MacOS system files
.DS_Store
.Trashes
*.swp

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Data files (optional, if you don't want to push raw data)
data/*.csv

# Logs and temporary files
*.log
